/* global */
*{
 font-family: 'Times New Roman', Arial, sans-serif;   
}

body{
    background-color: #f1f1f1;
}

/* navbar */

#navbar>nav>ul>li>a{
    text-decoration: none;
    color: #00ffff;
    text-align: center;
    padding: 14px 16px;
    display: block;
}

#navbar>nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3A3A3A;
    overflow: hidden;
}

#navbar>nav>ul>li{
    float: left;
}

/* content */

.article-container {
    margin: 3rem 20px 3 rem 0;
    overflow: auto;
}

.article-content {
    margin-left: 210px;
}

.article-content p {
    color: dodgerblue;
    font-size: 21pt;
    font-family: 'system-ui', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-title {
    font-size: 200%;
    font-weight: bold;
}

.article-thumb-left {
    float: left;
}

.article-thumb-right {
    float: right;
}

#navbar>nav>ul>li>a:hover{
    color: #f1f1f1;
}


/* title */

.h1title>h1{
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 70%;
    color: #f1f1f1;
    font-size: 5em;
}


/* factset */

section{
    margin: 0 5rem 0 5rem;  
    border-bottom: 2px solid #00ffff;
}


/* legal */

#legal{
    font-size: 1.25rem;
}

#legal>footer>ul>li>a{
    text-decoration: none;
    color: #00ffff;
}

#legal>footer>ul>li>a:hover{
    text-decoration: none;
    color: #ff0000;
}

.imgResize {
    width: 300px;
    height: 500px;
    padding: 25px;
}

#divingVideo {
    position: relative;
    z-index: -1;
    top: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    overflow-y: scroll;
}

/* media query for navbar */

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2.5em;
    }
}

